<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IATMServer" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:51479/ATMServer.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IATMServer" contract="ATMServer.IATMServer"
                name="BasicHttpBinding_IATMServer" />
        </client>
    </system.serviceModel>
</configuration>